################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MrezeProjekat/MrezeProjekat/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
